#content .simpleform {
    background-color: white; /*only needed for chrome :-(*/
}

#content .simpleform fieldset {
    padding: 2em;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-row-gap: 0.5em;
    grid-column-gap: 2em;
    border-style: none;
    box-shadow: var(--kolibri-box-shadow);
}

#content .simpleform .invisible {
    display: none;
}
