* {
    margin: 0;
    padding: 0;
}

.card-nav {
    min-width: 100vw;
    padding: 10px;
}

.card-nav .root-node {
    display: inline-block;
    padding: 10px;
}

.card-nav .root-node .child-wrapper {
    position: absolute;
    max-height: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

.card-nav .root-node .child-wrapper .card {
    height: 60px;
    width: 100px;
    background-color: orange;
}

.card-nav .root-node .child-wrapper .card:first-child {
    height: 120px;
    width: 100px;
    background-color: yellow;
}

.card-nav .root-node .child-wrapper .card p {
    display: -webkit-box;
    max-width: 100px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-nav .root-node .child-wrapper .card:first-child p {
    display: -webkit-box;
    max-width: 100px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
