#content .style-guide #out {
    display:    grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
    justify-items: center;
    position: relative;
    z-index: -1;
}

#content .style-guide .drop-size {
    width: 40px;
    height:40px;
}

#content .style-guide .drop-shape {
    border-radius: 50% 15% 50% 50%;
    transform: rotate(-45deg) ;
}

#content .style-guide .flow {
    display: flex;
    gap: 1em;
}

#content .style-guide a.center {
    margin: 1em auto;
}

#content .style-guide a > img {
    margin-right: 1em;
    filter: invert(1);
}

#content .style-guide span {
    margin-right: 1em;
}

#content .style-guide span.arrow {
    position: absolute;
    right: 0.25em;
    top: 0.75em;
    font-size: 16px;
}

#content .style-guide div.kolibri-logo-svg {
    height:         250px;
    aspect-ratio:   1;
    padding:        2em;
    text-align:     center;
}

#content .style-guide svg {
    overflow: visible;
}

#content .style-guide .flatter {
    animation-name:             kolibri-wings;
    animation-duration:         .2s;
    animation-iteration-count:  5;
    animation-direction:        reverse;
    animation-timing-function:  ease-in;
    transform-origin:           45% 45%;
}

@keyframes kolibri-wings {
    from {
        transform:      scaleX(1) rotate(0deg);
    }
    to {
        transform:      scaleX(-1) rotate(30deg);
    }
}
