nav {
    position: absolute;
    top: 250px;
    right: 0;
    width: 80px;
    height: 375px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .navigation {
    display: flex;
    position: fixed;
    top: 270px;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);
}

nav .navigation .toggle{
    height: 60px;
    width: 60px;
    background: #fcc647;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    z-index: 100;
    cursor: pointer;
    transform: rotate(-225deg);
    transition: all 0.6s ease;
}

nav .navigation span {
    position: absolute;
    transition: all 0.6s ease;
    opacity: 0;
}

nav .navigation span a {
    height: 130px;
    width: 60px;
    background: #dda9fe;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    transform: rotate(0deg);
}

nav .navigation span a:hover {
    background: #d696ff;
}

nav .navigation span a.active {
    background: #be58fd;
}

nav.open .toggle {
    transform: rotate(0deg);
}

img.icon {
    height: 25px;
    width: 25px;
}

