* {
    --kolibri--light---black--900: hsla(0, 0%, 98.8%, 1);
    --kolibri--light---black--800: hsla(240, 45.5%, 97.8%, 1);
    --kolibri--light---black--600: hsla(233, 26.7%, 88.2%, 1);
    --kolibri--light---black--700: hsla(231, 28%, 95.1%, 1);
    --kolibri--light---black--500: hsla(234, 18%, 68.4%, 1);
    --kolibri--light---black--400: hsla(235, 13.7%, 50%, 1);
    --kolibri--light---black--300: hsla(247, 15.3%, 34.7%, 1);
    --kolibri--light---black--200: hsla(249, 23.1%, 17.8%, 1);
    --kolibri--light---black--100: hsla(240, 35.5%, 12.2%, 1);

    box-sizing: border-box;
}

.dashboard-refined-nav {
    --base-unit: 4em;
    /*--detail-width: 0;*/
    --detail-width:   calc(  4 * var(--base-unit));
    --header-height:  calc(4/5 * var(--base-unit));
    --std-padding: calc(1/5 * var(--base-unit));
    position: fixed;
    top:  0;
    left: 0;
    min-height: calc(100vh - 1/4 * var(--base-unit));
    background-color: transparent;
    display: grid;
    grid-template-columns: calc(3/2 * var(--base-unit));
    font-family:      var(--kb-font-rubik-light-regular);
    margin: calc(1/8 * var(--base-unit));
    box-shadow: 2px 0 4px #dbd7db;
    border-radius: calc(1/6 * var(--base-unit));
}

.dashboard-refined-nav.open{
    grid-template-columns: calc(3/2 * var(--base-unit)) var(--detail-width);
}

.dashboard-refined-nav .overview {
    min-height:       100%;
    /*background-color: var(--kb-color-hsl-bg-light);*/
    background-color: var(--kb-color-hsl-lavender-200);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: calc(1/6 * var(--base-unit));
}

.dashboard-refined-nav.open .overview {
    border-radius: calc(1/6 * var(--base-unit)) 0 0 calc(1/6 * var(--base-unit));
}

.dashboard-refined-nav .overview .logo {
    padding-top:      calc(1/2 * var(--base-unit));
    padding-bottom:   var(--base-unit);
}

.dashboard-refined-nav .overview .logo img {
    height:       var(--header-height);
    aspect-ratio: 1;
}

.dashboard-refined-nav .overview .content .row {
    margin-bottom: calc(2 * var(--std-padding));
}

.dashboard-refined-nav .overview .content .row img {
    height:       calc(4/9 * var(--base-unit));
    aspect-ratio: 1;
    filter: invert(27%) sepia(12%) saturate(1127%) hue-rotate(207deg) brightness(98%) contrast(84%);
}

.dashboard-refined-nav .overview .content .row img.active {
    filter: invert(25%) sepia(97%) saturate(7429%) hue-rotate(275deg) brightness(94%) contrast(100%);
}

.dashboard-refined-nav .overview .content .row img:hover {
    filter: invert(51%) sepia(76%) saturate(6321%) hue-rotate(306deg) brightness(100%) contrast(105%);
}

.dashboard-refined-nav.open .overview .content .row img {
    display: none;
}

.dashboard-refined-nav .overview .toggle {
    min-height: calc(1/2 * var(--base-unit));
    min-width:  calc(1/2 * var(--base-unit));
    position: absolute;
    bottom: calc(1/2 * var(--base-unit));
    display: flex;
    justify-content: center;
    align-items:     center;
    border-radius: var(--base-unit);
    background-color: #A0A3BD;
    /*background-color: var(--kb-hsla-primary-bg);*/
}

.dashboard-refined-nav .overview .toggle img {
    height:       calc(9/20 * var(--base-unit));
    aspect-ratio: 1;
    transition: 0.2s;
    cursor: pointer;
}

.dashboard-refined-nav.open .overview .toggle img {
    transform: rotate(180deg);
    transition: 0.2s;
}

.dashboard-refined-nav .detail {
    display: none;
}

.dashboard-refined-nav.open .detail {
    display: block;
    min-height:       100%;
    background-color: var(--kb-color-hsl-purple-100);
    /*background-color: var(--kb-hsla-primary-bg);*/
    border-radius: 0 calc(1/6 * var(--base-unit)) calc(1/6 * var(--base-unit)) 0;
}

.dashboard-refined-nav .detail .header {
    height:           var(--header-height);
    padding-top:      calc(1/2 * var(--base-unit));
    padding-bottom:   var(--std-padding);
    padding-left:     calc(1/3 * var(--base-unit));
    margin-bottom:    calc(var(--base-unit) - calc( 9/8 * var(--std-padding)));
    display:          flex;
    flex-direction:   column;
    justify-content:  center;
    font-size:        var(--font-size-h5);
    color: var(--kolibri--light---black--200);
}

.dashboard-refined-nav .detail .content {
    margin-bottom: calc(3/5 * var(--base-unit));
}

.dashboard-refined-nav .detail .content .row {
    margin-bottom:    calc(1/20 * var(--base-unit));
    padding-left:     calc(1/2 * var(--base-unit));
}

.dashboard-refined-nav .detail .content .node {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0 1em;
}

.dashboard-refined-nav .detail .content .row img {
    height: calc(2/5 * var(--base-unit));
    aspect-ratio: 1;
    filter: invert(27%) sepia(12%) saturate(1127%) hue-rotate(207deg) brightness(98%) contrast(84%);
}

.dashboard-refined-nav .detail .content .row svg {
    width: calc(2/5 * var(--base-unit));
    height: calc(2/5 * var(--base-unit));
    visibility: hidden;
}

.dashboard-refined-nav .detail .content .row.root img.active {
    filter: invert(25%) sepia(97%) saturate(7429%) hue-rotate(275deg) brightness(94%) contrast(100%); /* convert svg color to --kb-color-hsl-primary-accent */
}

.dashboard-refined-nav .detail .content .row a.active {
    font-style: var(--kb-font-rubik-light-medium);
    font-weight: 600;
    color: var(--kb-color-hsl-pink-500);
}

.dashboard-refined-nav .detail .content .row.root {
    margin-bottom: calc(1/5 * var(--base-unit));
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0 1em;
}

.dashboard-refined-nav .detail .content .row.root span {
    text-transform: uppercase;
    font-size: var(--font-size-textM);
    color: var(--kolibri--light---black--200);
}

.dashboard-refined-nav .detail .content .row a {
    font-size: var(--font-size-textM);
    letter-spacing: 0.01em;
    text-decoration: none;
    color: var(--kolibri--light---black--500);
}

.dashboard-refined-nav .detail .content .row a:hover {
    color: var(--kb-color-hsl-bg-dark);
}

