.dashboard-nav {
    position: fixed;
    inset: 20px;
    background: #dda9fe;
    width: 80px;
    border-radius: 40px;
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.05);
    transition: 0.5s;
}

.dashboard-nav.open {
    width: 300px;
    transition: 0.5s;
}

.dashboard-nav ol {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.dashboard-nav ol li{
    position: relative;
    list-style: none;
    width: 100%;
    border-radius: 30px;
}

.dashboard-nav ol li:hover {
    background: #eeeeee;
}

.dashboard-nav ol li.active {
    background: #be58fd;
}

.dashboard-nav ol li a{
    position: relative;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: black;
}

.dashboard-nav .list img.icon {
    max-width: 24px;
}

.dashboard-nav #toggle img {
    transition: 0.2s;
}

.dashboard-nav.open #toggle img {
    transform: rotate(180deg);
    transition: 0.2s;
}

.dashboard-nav span.icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
    justify-items: center;
    align-items: center;
}

.dashboard-nav span.text {
    position: relative;
    display: block;
    height: 60px;
    padding: 0 10px;
    line-height: 60px;
}

.dashboard-nav img.icon {
    height: 24px;
    width: 24px;
}

.dashboard-nav #toggle {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    background: #eeeeee;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.25) 0 7px 29px 0;
}

.dashboard-nav #toggle:hover {
    box-shadow: rgba(100, 100, 111, 0.5) 0 7px 29px 0;
}

.dashboard-nav ol li ol {
    display: none;
}

.dashboard-nav.open ol li ol {
    display: block;
    position: relative;
    left: 60px;
    padding-top: 0;
    width: calc(100% - 60px);
}

.dashboard-nav ol li.parent a:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 30px;
}

.dashboard-nav #tree {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 100%;
    border: 10px solid #dda9fe;
    border-radius: 40px;
}

.dashboard-nav #tree::-webkit-scrollbar {
    display: none;
}

.dashboard-nav .invisible {
    display: none;
}

.dashboard-nav .list:hover .active img.icon {
    filter: invert(5%) sepia(78%) saturate(99999%) hue-rotate(280deg) brightness(97%) contrast(101%);
}

.dashboard-nav .list .active img.icon {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(280deg) brightness(100%) contrast(100%);
}

.dashboard-nav .list .parent-active img.icon {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(280deg) brightness(100%) contrast(100%);
}

.dashboard-nav.open .list .parent-active img.icon {
    filter: invert(0%) sepia(97%) saturate(0%) hue-rotate(29deg) brightness(100%) contrast(102%);
}