
.pt-3 {
    padding-top: 3px;
}

.pl-3 {
    padding-left: 3px;
}

.pr-3 {
    padding-right: 3px;
}

.mx-5 {
    margin-left: 5px;
    margin-right: 5px;
}

.mt-3 {
    margin-top: 3px;
}

.mb-3 {
    margi-bottom: 3px;
}

.overflow-hidden{
    overflow: hidden;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
}

.w-full {
    width: 100%
}

.w-90 {
    width: 90%;
}

.w-80 {
    width: 80%;
}

.w-75 {
    width: 75%
}

.w-50 {
    width: 50%
}

.w-33 {
    width: 33.3333%
}

.w-40 {
    width: 40%
}

.w-25 {
    width: 25%;
}

.w-20 {
    width: 20%;
}

.w-16 {
    width: 16.6666%;
}

.w-12 {
    width: 12.5%;
}

.w-10 {
    width: 10%;
}
