.debug {
    z-index: 1;
    position: absolute;
}

.debug #debug-table {
    display: none;
}

.debug.open img {
    position: fixed;
    right: 0;
    padding: 10px;
}

.debug.open #debug-table {
    position: fixed;
    right: 0;
    padding: 10px;
    background-color: var(--kb-color-hsl-bg-light);
    box-shadow: 0 2px 5px 0 var(--kolibri--light---black--500);
    border-right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: inline;
    border-spacing: 16px;
}

.debug .close-button {
    display: none;
}

.debug.open .close-button {
    position: fixed;
    right: 10px;
    margin-top: 16px;
    padding: 10px;
    cursor: pointer;
    min-height: 30px;
    min-width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.debug.open #debug-table tr td:first-child {
    font-weight: bold;
}

.debug #debug-table input {
    border: 2px solid var(--kb-hsla-primary-light);
    border-radius: 4px;
    background-color: #F7F7FC;
    overflow: hidden;
    text-overflow: ellipsis;
}

.debug #debug-table input:focus {
    border-color: var(--kb-hsla-primary-accent);
}

.debug #debug-table input:hover {
    border-color: var(--kb-color-hsl-pink-500);
}


.debug #debug-table input:disabled {
    background-color: var(--kolibri--light---black--600);
    border: 2px solid var(--kolibri--light---black--600);
}

.debug #debug-table input:disabled:hover {
    border: 2px solid var(--kolibri--light---black--600);
}

.debug .closed-debug-bubble {
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    right: 40px;
    bottom: 40px;
    background-color: #EBECFE;
    box-shadow: 0 2px 5px 0 var(--kolibri--light---black--500);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.debug .closed-debug-bubble:hover img {
    filter: invert(51%) sepia(76%) saturate(6321%) hue-rotate(306deg) brightness(100%) contrast(105%); /* convert svg color to --kb-color-hsl-pink-500 */
}

.debug.open .closed-debug-bubble {
    display: none;
}

.debug .toggle-switch {
    width: 50px;
    height: 24px;
    border-radius: 18px;
    background-color: var(--kolibri--light---black--500);
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
    cursor: pointer;
}

.debug .toggle-switch.selected {
    background-color: var(--kb-hsla-success-light);
}

.debug .toggle-switch.disabled {
    opacity: 0.5;
    cursor: default;
}

.debug .toggle-switch div {
    background-color: var(--kolibri--light---black--700);
    transform: translateX(0px);
    border-radius: 50%;
    width: 18px;
    height: 18px;
    transition: 300ms;
    box-shadow: 1px 1px 5px 0 var(--kolibri--light---black--300);
}


.debug .toggle-switch.selected div {
    transform: translateX(26px);
    transition: 300ms;
}

.debug .toggle-checkbox {
    display: none;
}