#content .test-cases #out {
    max-height: calc(100vh - 4em);
    overflow: scroll;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-column-gap: 2em;
    grid-row-gap: .5em;
    padding: 2em;
    box-shadow: var(--kolibri-box-shadow);
}

#content .test-cases #out div:nth-child(odd) {
    color: var(--kolibri-color-output);
}

#content .test-cases #out div:nth-child(4n-3) {
    justify-self: end;
}

#content .test-cases #grossTotal {
    color: var(--kolibri-color-output);
}

#content .test-cases footer {
    position: fixed;
    bottom:     0;
    left:       0;
    right:      0;
    text-align: center;
    color:      white;
    background: var(--kolibri-color-neutral);
    padding:    0.5em;
}
