#content .person .card, #content .masterdetail .card  {
    transition: all ease-in-out .5s;
    max-width:  40em;
    margin:     1em auto 2em auto;
    padding:    2em;
    box-shadow: var(--kolibri-box-shadow);
}

#content .person input[type=text], #content .masterdetail input[type=text] {
    font-size:      1.1em;
    color:          var(--kolibri-color-output);
    border-width:   0 0 1px 0;

    background-image:    linear-gradient(orange, orange);
    background-position: left bottom;
    background-repeat:   no-repeat;
    background-size:     0 1px; /* default:  do not show */
}

#content .person input[type=text]:focus, #content .masterdetail input[type=text]:focus {
    outline:             transparent none 0;
    border-bottom-color: transparent;

    background-size:     100% 1px;
    transition:          background-size linear .5s;
}

#content .person #plus, #content .masterdetail #plus {
    padding: 5px;
    width: 30px;
    position: relative;
}

#content .person, #content .masterdetail  {
    margin-bottom: 120px;
}

#content .person p, #content .masterdetail p {
    padding-top: 8px;
    padding-bottom: 8px;
}

#content .person .invisible, #content .masterdetail .invisible {
    display: none;
}

