#content .home header {
    display: 		flex;
    flex-direction: column;
    align-items: 	center;
}

#content .home div.kolibri-logo-svg {
    height:         250px;
    aspect-ratio:   1;
    padding:        2em;
    transition:     transform .4s linear;
}

#content .home svg {
    overflow: visible;
}

#content .home .flatter {
    animation-name:             kolibri-wings;
    animation-duration:         .2s;
    animation-iteration-count:  15;
    animation-direction:        reverse;
    animation-timing-function:  ease-in;
    transform-origin:           45% 45%;
}

#content .home @keyframes kolibri-wings {
    from {
        transform:      scaleX(1) rotate(0deg);
    }
    to {
        transform:      scaleX(-1) rotate(30deg);
    }
}

#content .home section.buttons {
    display: flex;
    justify-content: center;
}

#content .home a.btn {
    margin-right: 2em;
}



