* {
    padding: 0;
    margin: 0;
}

.card-wrapper {
    display: grid;
    grid-auto-rows: minmax(144px, 144px);
    grid-auto-columns: minmax(224px, 224px);
    grid-auto-flow: column dense;
    gap: 16px;
}

.card-wrapper > a {
    text-decoration: none;
    color: #FFFFFF;
}

.nav-wrapper {
    min-height: 72px;
    background: linear-gradient(90.06deg, #FF2CA5 0.03%, #9317EC 99.98%);
    display: grid;
    grid-template-columns: auto auto;
    font-family: var(--kb-font-rubik-light-regular);
    font-size: 14px;
}

.nav-wrapper #card-logo {
    max-height: 42px;
    max-width: 42px;
    background-color: #FCFCFC;
    border-radius: 21px;
    margin: auto;
    margin-left: 64px;
    display: flex;
}

.nav-wrapper #card-logo img {
    max-height: 42px;
    max-width: 42px;
}

.nav-wrapper #card-logo p {
    color: #FFFFFF;
    margin: auto;
    padding-left: 16px;
    font-size: 16px;
    font-weight: bold;
}

.nav-wrapper .links {
    min-width: auto;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 32px;
}

.nav-wrapper .nav-point-wrapper {
    position: relative;
}

.nav-wrapper .nav-point-wrapper > a {
    padding: 14px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

.links > .nav-point-wrapper:hover {
    padding-bottom: 12px;
    transition: all 0.25s ease-out;
}

.links > .nav-point-wrapper.active:hover, .links > .nav-point-wrapper.open:hover {
    padding-bottom: 0;
}

.nav-wrapper .nav-point-wrapper .card-wrapper {
    display: none;
}

.nav-wrapper .nav-point-wrapper.open .card-wrapper {
    display: inline-grid;
    position: absolute;
    right: 0;
    top: 32px;
    background-color: #3A274E;
    border-radius: 16px;
    padding: 16px;
    max-width: fit-content;
    color: #EBECFE;
    box-shadow: 4px 4px 7px 0 rgba(0, 0, 0, 25%);
}

.nav-wrapper .nav-point-wrapper.active.open > a::before {
    content: "";
    opacity: 1;
    position: absolute;
    width: 0;
    height: 0;
    top: 20px;
    left: calc(50% - 16px);
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #3A274E;
}

.nav-wrapper .nav-point-wrapper.active > a {
    color: #361B52;
}

.nav-wrapper .grid-item.active > img {
    filter: invert(14%) sepia(32%) saturate(1919%) hue-rotate(236deg) brightness(99%) contrast(102%);
}

.nav-wrapper a.grid-item::before {
    content: "";
    opacity: 1;
    position: absolute;
    width: 0;
    height: 0;
    top: 10px;
    right: 10px;
    border: 4px solid #BD00FF;
    border-radius: 4px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 25%);
}

.nav-wrapper a.grid-item.visited::before {
    display: none;
}

.grid-item {
    background: #5F5071;
    grid-row: span 2;
    border-radius: 8px;
    padding: 12px;
    display: grid;
    grid-template-rows: 32px 18px auto;
    row-gap: 8px;
    position: relative;
}

.grid-item.active {
    background: #9C7DBC;
    color: #361B52;
}

.grid-item:hover {
    background: #784CB0;
    box-shadow: 4px 4px 7px 0 #000000;
}

.grid-item p {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.grid-item img {
    height: 32px;
    width: 100%;
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(12deg) brightness(104%) contrast(101%);
}

.grid-item span {
    font-size: 18px;
    font-weight: 600;
}

.grid-item.half {
    grid-row: span 1;
    grid-template-rows: 24px 18px auto;
}

.grid-item.half p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.grid-item.half img {
    height: 24px;
    width: auto;
}