.tree-nav {
    position: fixed;
    top: 32px;
    left: 32px;
}

/* Remove default bullets */
.tree-nav ol, #tree {
    list-style-type: none;
}

/* Remove margins and padding from the parent ul */
.tree-nav #tree {
    margin: 0;
    padding: 0;
}

.tree-nav ol > li {
    margin-left: 32px;
}

.tree-nav li.invisible {
    display: none;
}



