
/*
    Styling for the dashboard navigation.

    This style depends on Kolibri-base being set such that all respective
    colors, fonts, and defaults are available.
*/

.side-navigation {

    --base-unit:      4rem;
    --detail-width:   calc(  4 * var(--base-unit));
    --header-height:  calc(4/5 * var(--base-unit));
    --std-padding:    calc(1/5 * var(--base-unit));
    font-family:      var(--kb-font-rubik-light-regular);
    box-shadow:       var(--kolibri-box-shadow);

    /* docked to the left, full height*/
    position: fixed;
    inset:    0 auto 0 0;
    z-index:  10;

    display: grid;
    grid-template-columns: var(--base-unit);                        /* default: closed, only one column*/

    &.open {
        /*grid-template-columns: var(--base-unit) var(--detail-width); !* two columns if open *!*/
        grid-template-columns: var(--base-unit) max-content; /* two columns if open */
    }
}

.side-navigation .invisible {
    display: none;
}

/* start overview (left column) */

.side-navigation .overview {
    min-height:         100%;
    background-color:   #F7F7FC;
    display:            flex;
    flex-direction:     column;
    align-items:        center;
    border-radius:      0
                        calc(1/6 * var(--base-unit))
                        calc(1/6 * var(--base-unit))
                        0;
}

.side-navigation.open .overview {
    border-radius:      0;
}

.side-navigation .overview .logo {
    padding-top:      var(--std-padding) ;
    padding-bottom:   var(--std-padding);
}

.side-navigation .overview .logo img {
    height:       var(--header-height);
    aspect-ratio: 1;
}

.side-navigation .overview .content .row {
    margin-bottom: calc(2 * var(--std-padding));
}

.side-navigation .overview .content .row img {
    height:       calc(4/9 * var(--base-unit));
    aspect-ratio: 1;
    filter: invert(92%) sepia(11%) saturate(202%) hue-rotate(196deg) brightness(92%) contrast(98%);
}

.side-navigation .overview .content .row img.active {
    filter: invert(9%) sepia(99%) saturate(6728%) hue-rotate(266deg) brightness(103%) contrast(125%); /* convert svg color to --kb-color-hsl-primary-accent */
}

.side-navigation .overview .content .row img:hover {
    filter: invert(51%) sepia(76%) saturate(6321%) hue-rotate(306deg) brightness(100%) contrast(105%); /* convert svg color to --kb-color-hsl-pink-500 */
}

/* when opened, the overview nav should show no content
experimentally disabled to see whether hiding the content is an improvement or not
todo: make a decision
.side-navigation.open .overview .content .row img {
    display: none;
}
*/

/* end of overview */

/* start detail (expanded right column) */

.side-navigation .detail {
    display: none;
}

.side-navigation.open .detail {
    display:          initial;
    min-height:       100%;
    background-color: var(--kb-hsla-primary-bg);
    border-radius:    0
                      calc(1/6 * var(--base-unit))
                      calc(1/6 * var(--base-unit))
                      0;
}

.side-navigation .detail .header {
    height:           var(--header-height);
    padding:          var(--std-padding);
    display:          flex;
    flex-direction:   column;
    justify-content:  center;
    font-size:        var(--font-size-h5);
    color:            black;
}

.side-navigation .detail .content {
    margin-bottom: calc(3/5 * var(--base-unit));
}

 /*Wrapper*/
.side-navigation .tree {
    display: flex;
    flex-direction: column;
    padding-left: calc(2/9 * var(--base-unit));
    padding-right: calc(2/9 * var(--base-unit));
    overflow: hidden;
}

 /*Root Nodes*/
.side-navigation .tree > .tree-node  {
    margin-bottom: calc(3/5 * var(--base-unit))
}

.side-navigation .tree > .tree-node.invisible {
    display: none;
}

.side-navigation .tree > .tree-node > span {
    display: flex;
    align-items: center;
    gap: 0 1em;
    margin-bottom: calc(1/5 * var(--base-unit));
    text-transform: uppercase;
    font-size: var(--font-size-textM);
    color: black;
}

.side-navigation .tree > .tree-node > span > a {
    font-size: var(--font-size-textM);
    letter-spacing: 0.01em;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
    pointer-events: none;
}

.side-navigation .tree > .tree-node > span > img {
    height: calc(2/5 * var(--base-unit));
    aspect-ratio: 1;
}

.side-navigation .tree > .tree-node > span > img.active {
    filter: invert(9%) sepia(99%) saturate(6728%) hue-rotate(266deg) brightness(103%) contrast(125%); /* convert svg color to --kb-color-hsl-primary-accent */
}

 /*Child Nodes*/
.side-navigation .tree-node > .tree-node {
    margin-left: calc(2/5 * var(--base-unit));
}

.side-navigation .tree-node > .tree-node.invisible {
    display: none;
}

.side-navigation .tree > .tree-node > .tree-node {
    margin-left: 0;
}

.side-navigation .tree-node > .tree-node > span {
    display: flex;
    align-items: center;
    gap: 0 1em;
    margin-bottom: calc(1/20 * var(--base-unit));
}

.side-navigation .tree-node > .tree-node > span > img {
    filter: invert(80%) sepia(10%) saturate(568%) hue-rotate(196deg) brightness(81%) contrast(88%); /* convert svg color to --kb--light--black-500 */
    width: calc(2/5 * var(--base-unit));
    height: calc(2/5 * var(--base-unit));
}

.side-navigation .tree-node > .tree-node > span > img.active {
    filter: invert(9%) sepia(99%) saturate(6728%) hue-rotate(266deg) brightness(103%) contrast(125%); /* convert svg color to --kb-color-hsl-primary-accent */
}

.side-navigation .tree-node > .tree-node > span > a {
    font-size: var(--font-size-textM);
    letter-spacing: 0.01em;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--kolibri--light---black--500);
}

.side-navigation .tree-node > .tree-node > span > a.active {
    font-style: var(--kb-font-rubik-light-medium);
    color: var(--kb-color-hsl-bg-dark);
}

.side-navigation .tree-node > .tree-node > span > a:hover {
    color: var(--kb-color-hsl-pink-500);
}

.side-navigation .tree > div.tree-node:not(:has(div.tree-node)){
    display: none;
}

.side-navigation .tree > div.tree-node:has( > :nth-child(2)#debug-node) {
    display: none;
}

