.bread-crumbs {
    text-align: center;
    margin: 32px;
}

.bread-crumbs a {
    text-decoration: none;
    background-color: #eeeeee;
    margin: 0 6px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 2px 2px 4px #dbd7db;
}

.bread-crumbs a:visited {
    color: black;
}

.bread-crumbs a:hover {
    background-color: #EBECFE;
    color: var(--kb-color-hsl-pink-500);
    box-shadow: 4px 4px 6px #cecbce;
}


